@import "vars"
@import "fonts"
@import "partials/fast-grid/fast-grid"
@import "partials/normalize.css"
@import "partials/magnific-popup.css"

::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

html
  font-size: 16px

body
  font-size: 16px
  font-weight: 400
  min-width: 320px
  position: relative
  font-family: $default-font
  overflow-x: hidden
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto
  &.img-width
    width: 100%

.text-center
  text-align: center

b, strong
  font-weight: bold

.container
  @include grid-container(xs sm md lg xl)

img
  max-width: 100%

h2
  color: #000
  font-size: 1.875rem
  font-weight: 700
  line-height: 16px
  letter-spacing: 0.075rem

header
  border-bottom: 0.063rem solid rgba(186, 186, 186, 0.3)
  background: #fefefc
  padding: 0 0 19px
.top_head
  background: #000
.top_head_wrap
  color: #fff
  font-size: 1rem
  line-height: 16px
  font-weight: 300
  letter-spacing: -0.02px
  display: flex
  align-items: center
  justify-content: space-between
  li
    padding: 11px 0 9px
  a
    color: #68cef8

.middle_header
  .middle_header_wrap
    @include grid-row()
    justify-content: space-between
  .logo_wrap
    @include grid-col(12 12 6 6 4 4)
  .logo
    margin-top: 20px
    display: block
    img
      max-width: 100%
  .info_block
    @include grid-col(12 12 6 6 8 8)
    display: flex
    justify-content: flex-end
    .circle_block
      display: flex
      margin-top: 34px
      &.time_block
        margin-right: 116px
      .circle
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2)
        background-color: #f6d934
        width: 40px
        height: 40px
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        margin-right: 15px
        img
          max-width: 20px
      .descr
        font-size: 0.938rem
        line-height: 20px
        a
          display: block
          color: #089cd9
          text-decoration: underline

.bottom_header
  .bottom_header_wrap
    display: flex
    justify-content: space-between
  .head_menu
    position: relative
    margin-top: 23px
    ul
      display: flex
      li
        margin-right: 25px
        position: relative
        &:after
          content: ''
          display: block
          width: 100%
          height: 30px
          position: absolute
          top: 18px
          left: 0
        &:hover
          a
            color: #089cd9
          ul
            top: 48px
            opacity: 1
        &:last-child
          margin-right: 0
        a
          display: block
          color: #c4c2c2
          font-size: 1.125rem
          line-height: 16px
          letter-spacing: 0.045rem
          position: relative
          transition: 0.2s
          &:after
            content: ''
            display: block
            width: 100%
            height: 1px
            background-color: #089cd9
            opacity: 0
            position: absolute
            top: 17px
            left: 0
            transition: 0.2s
          &:hover
            color: #089cd9
            &:after
              opacity: 0.3
        &.current_page_item
          a
            color: #089cd9
            &:after
              opacity: 0.3
    ul > li > ul
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      width: 1230px
      position: absolute
      top: -9999px
      left: -30px
      opacity: 0
      z-index: 11
      text-align: left
      box-shadow: 0 0.125rem 0.25rem 0.063rem rgba(0, 0, 0, 0.19)
      border-radius: 0 0 1.25rem 1.25rem
      background-color: #fafafa
      padding: 21px 0 32px 30px
      transition: opacity 0.2s linear
      li
        display: flex
        flex-basis: 25%
        margin-right: 0
        a
          font-size: 0.875rem
          line-height: 28px
          color: #089cd9
          letter-spacing: 0.035rem
          &:after
            top: 22px
  .user_info_block
    display: flex
    margin-top: 13px
    .search_block
      display: flex
      .search_submit_btn
        position: relative
        margin-left: 22px
      input
        border: none
        border-bottom: 1px solid #c4c2c2
        font-size: 0.938rem
        font-style: italic
        line-height: 16px
        padding: 0 15px 0
        &::placeholder
          color: #c4c2c2
        &.search_submit
          width: 39px
          height: 38px
          border-radius: 50%
          opacity: 0
          position: absolute
          cursor: pointer
  .circle_btn
    width: 39px
    height: 38px
    border-radius: 50%
    background-color: #efeee6
    display: flex
    align-items: center
    justify-content: center
    margin-left: 30px
    .on_hover
      display: none
    &:hover
      background-color: #37aafb
      img
        display: none
        &.on_hover
          display: block

.advant
  padding: 0 0 90px
  .advant_block
    @include grid-row()
  .advant_item
    @include grid-col(12 12 6 6 3 3)
    text-align: center
    margin-top: 100px
    &:first-child .advant_circle
      background-image: linear-gradient(to top, #e11f0b 0%, #fc412d 100%)
    &:nth-child(2) .advant_circle
      background-image: linear-gradient(to top, #3f9b47 0%, #4cc158 100%)
    &:nth-child(3) .advant_circle
      background-image: linear-gradient(to top, #286faf 0%, #3997ed 100%)
    &:last-child .advant_circle
      background-image: linear-gradient(to top, #29989b 0%, #31bfc3 100%)
  .advant_item_head
    font-size: 1.25rem
    font-weight: 700
    line-height: 16px
    letter-spacing: 0.05rem
    margin-top: 19px
  .advant_item_descr
    font-size: 1rem
    line-height: 33px
    margin-top: 19px
  .advant_circle
    width: 100px
    height: 100px
    border-radius: 50%
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2)
    background-color: #e8e8e8
    display: flex
    align-items: center
    justify-content: center
    margin: 0 auto

.brands
  padding: 77px 0 70px
  border: 0.063rem solid rgba(186, 186, 186, 0.5)
  background-color: rgba(249, 250, 169, 0.5)
  .brands_block
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 53px

.shop_hits_section
  padding: 102px 0 99px
  h2
    margin-bottom: 38px
  .shop_hits_block
    @include grid-row()
    color: #000
    &.left_row
      text-align: center
      .shop_hits_left
        @include grid-col(12 12 12 4 4 4)
        .shop_hits_item
          &:first-child
            &:after
              background-image: linear-gradient(to top, #2c9597 0%, #2dec6c 100%)
          &:last-child
            margin-top: 30px
            text-align: left
            .descr_block
              padding-left: 52px
            img
              display: block
              margin: 0 auto
            &:after
              background-image: linear-gradient(to top, #2fb4b7 0%, #0bb7ff 100%)
      .shop_hits_right
        @include grid-col(12 12 12 8 8 8)
        .shop_hits_item
          height: 100%
          &:after
            background-image: linear-gradient(to top, #3bc1f8 0%, #f37af7 100%)
    &.center_row
      margin-top: 30px
      .shop_hits
        @include grid-col(12 12 12 6 6 6)
        &:first-child
          position: relative
          .img_block
            position: absolute
            bottom: -7px
            left: 61px
            img
              display: block
              max-width: 250px
          .shop_hits_item
            align-items: flex-end
            &:after
              background-image: linear-gradient(-159deg, #55d88c 0%, #78a8da 100%)
        &:last-child
          .shop_hits_item
            .descr_block
              padding-left: 76px
            img
              display: block
              margin: 0 auto
            &:after
              background-image: linear-gradient(-42deg, #f8f513 0%, #f8f513 1%, #31ee73 100%)
    &.right_row
      margin-top: 30px
      text-align: center
      .shop_hits_left
        .shop_hits_item
          &:first-child
            &:after
              background-image: linear-gradient(6deg, #d40640 0%, #ee34c5 100%)
          &:last-child
            text-align: center
            .descr_block
              padding-left: 0
            &:after
              background-image: linear-gradient(to top, #fab227 0%, #fff324 100%)
      .shop_hits_right
        .shop_hits_item
          &:after
            background-image: linear-gradient(-33deg, #bd21cf 0%, #fbdf26 100%)
    .shop_hits_item
      display: flex
      flex-direction: column
      justify-content: center
      border-radius: 1.25rem
      height: 370px
      position: relative
      padding: 0 0 0
      transition: 0.2s
      &:after
        content: ''
        display: block
        border-radius: 1.25rem
        background-size: cover
        background: no-repeat center
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        opacity: 0
        transition: opacity 0.2s
      &:hover
        box-shadow: 0 0.375rem 0.563rem 0.063rem rgba(0, 0, 0, 0.12)
        color: #fff
        &:after
          opacity: 1
      .img_block
        position: relative
        z-index: 1
      .descr_block
        position: relative
        z-index: 1
        margin-top: 13px
    h3
      font-size: 1.125rem
      font-weight: 300
      letter-spacing: 0.045rem
      line-height: 20px
    .price
      font-size: 1.875rem
      font-weight: 700
      letter-spacing: 0.075rem
      line-height: 36px

.about
  padding: 88px 0 0
  background: rgba(2, 159, 163, 0.8)
  border-top: 1px solid rgba(186, 186, 186, 0.8)
  border-bottom: 1px solid rgba(186, 186, 186, 0.8)
  h3
    font-size: 2.5rem
    font-weight: 800
    line-height: 16px
    color: #fff
    letter-spacing: 0.07rem
  .about_block
    @include grid-row()
    .block_col
      @include grid-col(12 12 6 6 3 3)
      margin-top: 20px
    .text_block
      @include grid-col(12 12 6 6 9 9)
    .text_block_wrap
      margin-top: 42px
      display: flex
      flex-wrap: wrap
      sup
        font-size: 0.7rem
      .left_block
        margin-top: 12px
        font-size: 1.125rem
        font-weight: 400
        letter-spacing: 0.019rem
        line-height: 28px
        color: #fff
        padding-left: 37px
        width: 565px
        &:first-child
          margin-top: 0
      .right_block
        font-size: 0.875rem
        font-weight: 400
        line-height: 22px
        letter-spacing: 0.035rem
        color: #fff
        margin-top: 17px
        padding-left: 35px
        &:nth-child(2)
          margin-top: 5px
        a
          color: #065a78
          &.btn
            background-color: #065a78
            color: #fff
            display: inline-block
            padding: 0 8px 1px
            margin-left: -10px
      b
        color: #0a617c
        font-weight: 400
    .block_col_item
      box-shadow: 0 0.25rem 0.313rem 0.063rem rgba(0, 0, 0, 0.4)
      background-color: rgba(10, 136, 155, 0.6)
      margin-top: 30px
      margin-left: -30px
      padding: 24px 31px 21px
      font-size: 1.125rem
      line-height: 28px
      color: #fff
      letter-spacing: 0.045rem
      b
        margin-bottom: 5px
        font-size: 1.5rem
        font-weight: 700
        letter-spacing: 0.15rem
        text-transform: uppercase
        display: block
  h2
    margin-top: 61px
    color: #fff
  .before_map_block
    @include grid-row()
    margin-top: 32px
    .before_map_text
      @include grid-col(12 12 12 12 9 9)
      font-size: 1.125rem
      line-height: 28px
      color: #fff
      letter-spacing: 0.045rem
    .before_map_link
      @include grid-col(12 12 12 12 3 3)
      a
        color: #065475
        font-size: 0.875rem
        line-height: 30px
        letter-spacing: 0.035rem
  .map_container
    padding: 27px 0 75px
    margin-left: -30px
    margin-right: -30px
    #map
      height: 652px
      box-shadow: 0 0.25rem 0.313rem 0.063rem rgba(0, 0, 0, 0.4)
      overflow: hidden

.connect
  padding: 103px 0 99px
  .form_wrap
    margin-top: 49px
    margin-left: -30px
    margin-right: -30px
    padding: 33px 30px 55px
    box-shadow: 0 0.25rem 0.313rem 0.063rem rgba(0, 0, 0, 0.19)
    border-radius: 1.25rem
    border: 0.063rem solid #e8e8e8
    background-color: #fdfcf0
    p
      margin-top: 0
      font-size: 1.125rem
      color: #000
      line-height: 16px
      letter-spacing: 0.045rem
    form
      margin-top: 44px
      .form_row
        display: flex
        flex-wrap: wrap
        margin-top: 30px
        label
          padding-top: 9px
      .input_wrap
        width: 465px
        .input
          width: 335px
          box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1)
          border-radius: 1.25rem
          background-color: #fff
          padding: 10px 27px 9px
        .textarea
          box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1)
          border-radius: 1.25rem
          background-color: #fff
          width: 437px
          height: 120px
          padding: 10px 28px
        input, textarea
          border: none
          width: 100%
          height: 100%
          font-size: 1.125rem
          font-weight: 400
          line-height: 16px
          letter-spacing: 0.045rem
          padding: 0 0 0
          resize: none
          &::placeholder
            color: rgba(0, 0, 0, 0.4)
.form_btn_wrap
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1)
  border-radius: 1.25rem
  background-color: #0ea0fd
  width: 147px
  margin-top: 30px
  text-align: center
  input
    border: none
    background: transparent
    width: 100%
    padding: 11px 0 12px
    height: 100%
    border-radius: 1.25rem
    font-size: 1.125rem
    font-weight: 400
    line-height: 16px
    color: #fff
    letter-spacing: 0.045rem
    cursor: pointer

footer
  padding: 27px 0 33px
  border-top: 1px solid #e8e8e8
  background-color: #fefcfc
  .footer_block
    @include grid-row()
  .footer_menu
    @include grid-col(12 12 6 6 3 3)
    ul li
      margin-top: 10px
      a
        font-size: 0.875rem
        font-weight: 400
        color: #089cd9
        letter-spacing: 0.035rem
        line-height: 16px
    &:first-child
      ul li a
        font-weight: 600
  .to_map
    font-size: 0.875rem
    font-weight: 400
    line-height: 20px
    text-decoration: underline
    color: #089cd9
    display: flex
    align-items: center
    margin-top: 21px
    img
      margin-right: 8px

.popup_window
  box-shadow: 0 0 2.438rem 0.25rem rgba(0, 0, 0, 0.6)
  border-radius: 1.25rem
  background-color: #fff
  padding: 97px 100px 100px
  h3
    font-size: 2.5rem
    font-weight: 800
    line-height: 16px
  h4
    font-size: 1.5rem
    font-weight: 700
    line-height: 36px
    margin-top: 36px
  .map_container
    margin-top: 47px
    #route_map
      height: 540px
  p
    font-size: 1.125rem
    line-height: 36px
    margin-top: 15px
  .photo_block
    margin-top: 0
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .photo_item
      width: 47%
      margin-top: 50px
      &:nth-child(odd)
        p
          padding-left: 30px
          margin-top: 45px
      &:nth-child(even)
        p
          max-width: 390px
          margin-left: -70px
          margin-bottom: 45px
  .form_btn_wrap
    font-size: 1rem
    line-height: 16px
    color: #fff
    letter-spacing: 0.04rem
    padding: 12px 0 13px
    width: 139px
    cursor: pointer

.terms
  padding: 115px 0 108px
  h1
    font-size: 2.5rem
    font-weight: 800
    line-height: 0.01px
    letter-spacing: 0.1rem
  .terms_block
    margin-top: 61px
    font-size: 1.125rem
    letter-spacing: 0.007rem
    line-height: 28px
    p
      margin-top: 12px
    ul li
      text-indent: 72px
      position: relative
      &:before
        content: ''
        display: block
        background: #000
        width: 5px
        height: 5px
        border-radius: 50%
        position: absolute
        top: 13px
        left: 38px

.garanty
  padding: 115px 0 97px
  h1
    font-size: 2.5rem
    font-weight: 800
    line-height: 0.01px
    letter-spacing: 0.1rem
    margin-bottom: 24px
  h2
    padding-top: 6px
    margin-top: 28px
    &.colored_block
      padding: 23px 30px 0
  .garanty_block
    @include grid-row()
    padding-top: 18px
    .garanty_item
      @include grid-col(12 12 12 12 9 9)
      font-size: 1.125rem
      font-weight: 400
      line-height: 28px
      p
        margin-top: 13px
    .garanty_link
      @include grid-col(12 12 12 12 3 3)
      margin-top: 8px
      a
        color: #089cd9
        font-size: 0.875rem
        line-height: 24px
        display: block
        margin-top: 7px
    &.colored_block
      background-color: #fff997
      margin-left: -30px
      margin-right: -30px
      padding: 0 15px 17px
      .garanty_item
        padding-top: 17px
        p
          padding: 0 36px 0
  .colored_block
    background-color: #fff997
    margin-left: -30px
    margin-right: -30px
    padding: 0 0 0
  h3
    font-size: 1.5rem
    font-weight: 700
    line-height: 24px
    margin-top: 35px
    margin-bottom: -17px

.pay_section
  padding: 115px 0 105px
  h1
    font-size: 2.5rem
    font-weight: 800
    line-height: 0.01px
    letter-spacing: 0.1rem
    padding-left: 200px
    margin-bottom: 12px
  h2
    line-height: 30px
    margin-top: 44px
    padding-bottom: 0
  .pay_block
    @include grid-row()
    font-size: 1.125rem
    line-height: 28px
    letter-spacing: 0.028rem
    a
      color: #089cd9
    .pay_img
      @include grid-col(2 2 2 2 2 2)
      margin-top: 68px
      .img_wrap
        max-width: 85px
        img
          display: block
          margin: 0 auto
    .pay_descr
      @include grid-col(8 8 8 8 8 8)
      p
        margin-top: 22px
      ul
        padding-left: 33px
        li
          margin-top: 0
    .pay_link
      @include grid-col(2 2 2 2 2 2)
      font-size: 0.875rem
      line-height: 18px
      margin-top: 101px

#sber p
  font-size: 1rem
  font-weight: 400
  line-height: 24px

#requsits
  ul
    margin-top: 35px
    font-size: 1.125rem
    font-weight: 400
    line-height: 28px
    li
      span
        width: 200px
        display: inline-block

.delivery_section
  padding: 92px 0 96px
  h1
    font-size: 40px
    font-weight: 800
    letter-spacing: 1.6px
  h2
    font-size: 30px
    font-weight: 700
    line-height: 0.8
    margin-top: 49px
  h3
    font-size: 18px
    font-weight: 600
    line-height: 2.22
    margin-top: 6px
    margin-bottom: -28px
  h4
    font-size: 24px
    font-weight: 700
    line-height: 1
    letter-spacing: 1px
    margin-top: 28px
  .delivery_block
    @include grid-row()
  .left_side
    @include grid-col(9 9 9 9 9 9)
    font-size: 18px
    line-height: 1.6
    letter-spacing: -0.38px
    color: #000000
    margin-top: 17px
    span
      display: inline-block
      background-color: #fff324
    p
      margin-top: 10px
    a
      display: block
      color: #089cd9
  .right_side
    @include grid-col(3 3 3 3 3 3)
    font-size: 14px
    line-height: 1.29
    margin-top: 31px
    display: flex
    justify-content: flex-end
    .colored_block
      width: 185px
      height: 48px
      padding: 5px 15px
      &.colored
        background-color: #45ad4f
        color: #fff
      &.grey
        background-color: rgba(225, 68, 52, 0.4)
      &.yellow
        background-color: #fff324
        height: 64px
    a
      color: #089cd9
      width: 100%
  .map_container
    margin-left: -30px
    margin-right: -30px
    margin-top: 32px
    #map_piter_moscow, #map_cities
      height: 570px

.delivery_popup
  max-width: 1170px
  width: 100%
  margin: 0 auto
  background: #fff
  box-shadow: 0 0 2.438rem 0.25rem rgba(0, 0, 0, 0.6)
  border-radius: 1.25rem
  padding: 100px 70px
  h3
    font-size: 40px
    font-weight: 800
    line-height: 0.4
  ul
    font-size: 18px
    line-height: 2
    margin-top: 45px
    li
      &:first-letter
        font-size: 2rem
        line-height: 2
        font-weight: 700
  .form_btn_wrap
    font-size: 1rem
    line-height: 16px
    color: #fff
    letter-spacing: 0.04rem
    padding: 12px 0 13px
    width: 139px
    cursor: pointer
  .delivery_popup_block
    margin-top: 20px
    width: 100%
    column-count: 2
  .delivery_popup_item
    width: 90%
    font-size: 16px
    line-height: 1.25
    margin-top: 20px
    display: inline-block
    h5
      font-size: 18px
      font-weight: 700
      line-height: 1.61


        


.route
  max-width: 1030px
  width: 100%
  margin: 0 auto 0

.mfp-bg
  background: #000
  opacity: 0.4







@import "media"