<footer>
  <div class="container">
    <div class="footer_block">
      <div class="footer_menu">
        <ul>
          <li><a href="#">Отзывы на Яндекс Маркете</a></li>
          <li><a href="#">Группа Вконтакте</a></li>
          <li><a href="terms.html">Пользовательское соглашение</a></li>
        </ul>
      </div>
      <div class="footer_menu">
        <ul>
          <li><a href="#">Товары для комфорта</a></li>
          <li><a href="#">Экшен-камеры</a></li>
          <li><a href="#">Видеорегистраторы</a></li>
          <li><a href="#">Наушники и гарнитуры</a></li>
        </ul>
      </div>
      <div class="footer_menu">
        <ul>
          <li><a href="#">Колонки переносные</a></li>
          <li><a href="#">Внешние аккумуляторы</a></li>
          <li><a href="#">Зарядные устройства</a></li>
          <li><a href="#">Моноподы и штативы</a></li>
        </ul>
      </div>
      <div class="footer_menu">
        <ul>
          <li><a href="#">Сетевое оборудование</a></li>
          <li><a href="#">Компьютерные мыши</a></li>
          <li><a href="#">Сумки и рюкзаки</a></li>
          <li><a href="#">Карты памяти</a></li>
        </ul>
      </div>
    </div>
    <a href="#map" class="scrollto to_map"><img src="img/location.png" alt=""><span>Москва, улица Щепкина, дом 28, офис 504 (5 минут от станции метро Проспект Мира)</span></a>
  </div>
</footer>