//= template/header.html

<section class="delivery_section">
  <div class="container">
    <h1>Доставка</h1>
    <div class="delivery_block">
      <div class="left_side">
        <p>Мы постарались сделать доставку максимально удобной для вас. Доставляем товары по всей России. <br>
          При оформлении заказа нужно выбрать способ доставки.</p>
      </div>
    </div>
    <h2>По Москве</h2>
    <div class="delivery_block">
      <div class="left_side">
        <p>Жители Москвы могут забрать свои заказы самостоятельно в нашем офисе (бесплатно), пунктах выдачи компаний
          «Почтальон Сервис» и «СДЭК» или получить их из рук нашего курьера.</p>
      </div>
      <div class="right_side">
        <div class="colored_block colored">Бесплатный самовывоз
          из нашего офиса
        </div>
      </div>
    </div>
    <h3>Курьерская доставка</h3>
    <div class="delivery_block">
      <div class="left_side">
        <p>Действует в пределах Московской области. Цена зависит от расстояния. Доставка в пределах МКАД
          стоит 290 рублей, по Московской области — 380 рублей. Ваши заказы приедут в течение одного-двух дней.</p>
      </div>
      <div class="right_side">
        <div class="colored_block transparent">Курьером, 1—2 дня,
          Мск — 290 рублей,
          МО — 380 рублей
        </div>
      </div>
    </div>
    <h3>Экспресс-доставка по Москве</h3>
    <div class="delivery_block">
      <div class="left_side">
        <p>Курьер доставит товар в пределах МКАД в течение трёх часов после оформления заказа, за 450 рублей. Заказ
          нужно
          оформить в будни с 10 до 18, в выходные с 10 до 16. Оплата наличными.</p>
        <p>Курьеры развозят товары каждый день с 10 до 22. Согласуйте с менеджером сроки доставки, и курьер
          за час до доставки свяжется с вами.</p>
      </div>
      <div class="right_side">
        <div class="colored_block grey">Доставим за 3 часа,
          450 рублей
        </div>
      </div>
    </div>

    <h2>Пункты выдачи в крупных городах России</h2>
    <h4>Пункты выдачи магазина в Москве и Петербурге</h4>

    <div class="map_container">
      <div id="map_piter_moscow"></div>
    </div>

    <div class="delivery_block">
      <div class="left_side">
        <p><b>В Москве</b> товары привезут до пункта выдачи (в пределах МКАД) в течение 1—2 дней, за 100 рублей.</p>
      </div>
      <div class="right_side">
        <a href="#delivery_moscow" class="popup">Добраться до пунктов выдачи в Москве</a>
      </div>
    </div>
    <div class="delivery_block">
      <div class="left_side">
        <p><b>В Санкт-Петербурге</b> товары привезут до пунктов выдачи в течение 2—3 дней, за 150 рублей.</p>
      </div>
      <div class="right_side">
        <a href="#delivery_piter" class="popup">Добраться до пунктов выдачи в Петербурге</a>
      </div>
    </div>
    <div class="delivery_block">
      <div class="left_side">
        <p>При оформлении заказа укажите станцию метро.</p>
      </div>
    </div>
    <h4>Пункты выдачи СДЭКа в крупных городах России</h4>
    <div class="map_container">
      <div id="map_cities"></div>
    </div>

    <div class="delivery_block">
      <div class="left_side">
        <p><b>В Москве и Московской области</b> товары привезут до пункта выдачи в течение 2—4 дней, за 190 рублей.</p>
      </div>
    </div>
    <div class="delivery_block">
      <div class="left_side">
        <p><b>В крупных городах России</b> товары привезут до пункта выдачи в течение 2—10 дней, в зависимости от
          региона.
          Отправить товар весом до 2 кг стоит 350 руб. Больше 2 кг — менеджер посчитает стоимость.
          Оплата банковской картой или на счёт. Предоплата — 100 %.</p>
      </div>
      <div class="right_side">
        <div class="colored_block yellow"><b>Крупные города</b>
          Безналичная оплата,
          100% предоплата
        </div>
      </div>
    </div>
    <div class="delivery_block">
      <div class="left_side">
        <p>При оформлении заказа выберите способ доставки «Пункт выдачи СДЭК».</p>
      </div>
    </div>

    <h2>Доставка по России</h2>
    <div class="delivery_block">
      <div class="left_side">
        <p>Доставляем курьером транспортной комапнии или в отделение Почты России.
          <span>Оплата банковской картой или на счёт, предоплата — 100%.</span></p>
      </div>
    </div>

    <h4>Курьером транспортной компании</h4>
    <div class="delivery_block">
      <div class="left_side">
        <p>Курьер доставляет товар до двери клиента в течение 2—10 дней, в зависимости от региона. Стоимость отправки
          товаров весом до 2 кг составляет 390 рублей. Больше 2 кг — менеджер посчитает стоимость.
          <a href="#delivery_cities" class="popup">Доставляем в города из списка.</a></p>
      </div>
      <div class="right_side">
        <div class="transparent">До 2 кг — 390 рублей</div>
      </div>
    </div>

    <h4>Почтой России</h4>
    <div class="delivery_block">
      <div class="left_side">
        <p>Товар доставляется в отделение в течение 3—15 дней, в зависимости от региона. Стоимость отправки товаров
          весом до 2 кг составляет 380 рублей. Больше 2 кг — менеджер посчитает стоимость.</p>
      </div>
      <div class="right_side">
        <div class="transparent">До 2 кг — 380 рублей</div>
      </div>
    </div>
  </div>
  </div>
</section>

//= template/footer.html

<div id="delivery_moscow" class="delivery_popup mfp-hide">
  <h3>Пункты выдачи магазина в Москве</h3>
  <div class="delivery_popup_block">
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
  </div>
  <div class="form_btn_wrap js_close_popup">Закрыть</div>
</div>

<div id="delivery_piter" class="delivery_popup mfp-hide">
  <h3>Пункты выдачи магазина в Санкт-Петербурге</h3>
  <div class="delivery_popup_block">
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
    <div class="delivery_popup_item">
      <h5>М. Академика Янгеля</h5>
      <p>Ул. Россошанская, 3к1Ас2</p>
      <p>ПН—СБ: 10:00 — 21:00; ВС: 10:00 -- 20:00</p>
      <p>Телефон: <a href="tel:84956680733">84956680733</a></p>
      <p>Как пройти:</p>
      <p>Последний вагон из центра, ориентир — ТЦ «Горбушка».</p>
    </div>
  </div>
  <div class="form_btn_wrap js_close_popup">Закрыть</div>
</div>

<div id="delivery_cities" class="delivery_popup mfp-hide">
  <h3>Курьерская доставка в города России</h3>
  <ul>
    <li>Абакан, Адлер, Александров, Альметьевск, Армавир, Артёмки, Архангельск, Астрахань, Ачинск.</li>
    <li>Балаково, Барнаул, Белгород, Белоярский (Свердловская область), Белоярский (Ханты-Мансийский АО),
      Бердск, Березники, Бийск, Благовещенск, Братск, Брянск.
    </li>
    <li>Великий Новгород, Владивосток, Владикавказ, Владимир, Волгоград, Волгодонск, Волжский, Вологда, Воронеж.</li>
    <li>Гатчина, Горно-Алтайск, Грозный.</li>
    <li>Дзержинск (Иркутская область), Димитровград.</li>
    <li>Екатеренбург.</li>
    <li>Златоуст.</li>
    <li>Иваново, Ижевск, Иркутск, Йошкар-Ола.</li>
    <li>Казань, Калининград, Калуга, Кемерово, Керчь, Киров, Кисловодск, Комсомольск-на-Амуре, Коломна,
      Кострома, Краснодар, Красноярск, Курган, Курск.
    </li>
    <li>Липецк.</li>
    <li>Магадан, Магнитогорск, Махачкала, Междуреченск, Миасс, Минеральные Воды, Мурманск.</li>
    <li>Набережные Челны, Надым, Нальчик, Нарьян-Мар, Находка, Нефтекамск, Нефтеюганск,
      Нижневартовск, Нижнекамск, Нижний Тагил, Нижний Новгород, Новокузнецк, Новороссийск, 
      Новосибирск, Новочеркасск, Новый Уренгой, Норильск.
    </li>
    <li>Обнинск, Омск, Орел, Оренбург, Орск.</li>
    <li>Пенза, Пермь, Петрозаводск, Петропавловск-Камчатский, Прокопьевск, Псков, Пятигорск.</li>
    <li>Ростов-на-Дону, Рубцовск, Рязань, Рыбинск.</li>
    <li>Санкт-Петербург, Салават, Самара, Саранск, Саратов, Севастополь, Северск, Симферополь, Сосновый бор, Сочи,
      Смоленск, Старый Оскол, Ставрополь, Стерлитамак, Сургут, Сыктывкар.
    </li>
    <li>Таганрог, Тамбов, Тверь, Тольятти, Томск, Тула, Тюмень.</li>
    <li>Улан-Удэ, Ульяновск, Уссурийск, Уфа.</li>
    <li>Хабаровск, Ханты-Мансийск, Хасавюрт.</li>
    <li>Чебоксары, Череповец, Черкесск, Чита, Чусовой, Челябинск.</li>
    <li>Шахты.</li>
    <li>Энгельс.</li>
    <li>Южно-Сахалинск, Южноуральск.</li>
    <li>Ярославль.</li>
  </ul>
  <div class="form_btn_wrap js_close_popup">Закрыть</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

<script type="text/javascript">
    ymaps.ready(init);

    function init() {
        var myMap1 = new ymaps.Map("map_piter_moscow", {
            center: [55.778863, 37.629315],
            zoom: 8
        });

        var myPlacemark1 = new ymaps.Placemark([55.778863, 37.629315], {
            hintContent: 'Mad-gadget'
        });

        myMap1.geoObjects.add(myPlacemark1);
        myMap1.behaviors.disable('scrollZoom');
    }
</script>

<script>
    ymaps.ready(init);

    function init() {
        var myMap2 = new ymaps.Map("map_cities", {
            center: [55.778863, 37.629315],
            zoom: 10
        });

        var myPlacemark2 = new ymaps.Placemark([55.778863, 37.629315], {
            hintContent: 'Mad-gadget'
        });

        myMap2.geoObjects.add(myPlacemark2);
        myMap2.behaviors.disable('scrollZoom');
    }
</script>


</body>
</html>
