//= template/header.html

<section class="garanty">
  <div class="container">
    <h1>Гарантия</h1>
    <div class="garanty_block">
      <div class="garanty_item">
        <p>В работе руководствуемся законом о защите прав потребителя. Знаем цену времени.</p>
      </div>
      <div class="garanty_link">
        <a href="#">Закон о защите прав потребителя</a>
      </div>
    </div>
    <h2 class="colored_block">Гарантийные сроки</h2>
    <div class="garanty_block colored_block">
      <div class="garanty_item">
        <p>На все электронные устройства — 12 месяцев со дня продажи, в зависимости от товара;</p>
        <p>На аксессуары без электронных элементов — 2 недели со дня продажи.</p>
      </div>
    </div>
    <h2>Сервисный центр</h2>
    <div class="garanty_block">
      <div class="garanty_item">
        <p>В случае заводского брака или поломки не по вашей вине обратитесь в наш сервисный центр. Чтобы сдать товар
          нужен кассовый чек и номер заказа.
        </p>
      </div>
    </div>
    <h3>Для Москвы</h3>
    <div class="garanty_block">
      <div class="garanty_item">
        <p>Позвоните нам по телефону, договоритесь с менеджером обо времени приезда в офис.
          Чтобы пройти на территорию офисного здания понадобится паспорт.</p>
        <p>В течение 5 рабочих дней (можем быстрее) мы проверим устройство и дадим заключение.
          Если случай гарантийный, отремонтируем или вернём деньги.</p>
      </div>
      <div class="garanty_link">
        <a href="#route" class="popup">Как добраться до нашего офиса</a>
        <a href="tel:+74955325684">Запись +7 495 532-56-84</a>
      </div>
    </div>
    <h3>Для других городов</h3>
    <div class="garanty_block">
      <div class="garanty_item">
        <p>Позвоните нам по телефону, менеджер проконсультирует по дальнейшим действиям.
          Варианты отправки: СДЭК или Почта России.</p>
      </div>
      <div class="garanty_link">
        <a href="tel:+74955325684">Позвонить +7 495 532-56-84</a>
      </div>
    </div>
    <h2>Возврат</h2>
    <div class="garanty_block">
      <div class="garanty_item">
        <p>Вернуть товар можно в течение двух недель, если сохранён «товарный вид» и соблюдены требования статьи 18 закона о защите прав потребителя. А также купленный товар не входит
          в перечень непродовольственных товаров, не подлежащих возврату.</p>
      </div>
      <div class="garanty_link">
        <a href="#">Статья 18</a>
        <a href="#">Перечень непродовольственных товаров, не подлежащих возврату</a>
      </div>
    </div>
  </div>
</section>

//= template/footer.html

<div id="route" class="route popup_window mfp-hide">
  <h3>Как пройти до нашего офиса</h3>
  <h4>От метро Проспект мира кольцевой линии быстрее всего</h4>
  <div class="map_container">
    <div id="route_map"></div>
  </div>
  <p>Выйти из метро, повернуть направо, дойти до Протопоповского переулка, спуститься в переход,
    пройти на другую сторону Проспекта мира. Дойти до церкви Филиппа Митрополита.</p>
  <div class="photo_block">
    <div class="photo_item">
      <img src="img/church.jpg" alt="">
      <p>Напротив здания „European medical center“ повернуть налево, на улицу Щепкина</p>
    </div>
    <div class="photo_item">
      <p>Пройти слева от церкви,
        в сторону Олимпийского.</p>
      <img src="img/medicalcenter.jpg" alt="">
    </div>
    <div class="photo_item">
      <img src="img/sovkom.jpg" alt="">
      <p>Дойти до вывески «Галерея Совком», подняться по лестнице. На КПП сказать, идёте в Мэд Гаджет, назвать фамилию,
        показать паспорт. 5 этаж, офис 504.</p>
    </div>
    <div class="photo_item">
      <p>По улице Щепкина дойти до здания
        с вывеской «Совкомбанк».</p>
      <img src="img/sovkom-gal.jpg" alt="">
    </div>
  </div>
  <div class="form_btn_wrap js_close_popup">Закрыть</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

<script>
    function init() {
        // Задаём точки мультимаршрута.
        var pointA = [55.779598, 37.633535],
            pointB = [55.778863, 37.629315],
            /**
             * Создаем мультимаршрут.
             * @see https://api.yandex.ru/maps/doc/jsapi/2.1/ref/reference/multiRouter.MultiRoute.xml
             */
            multiRoute = new ymaps.multiRouter.MultiRoute({
                referencePoints: [
                    pointA,
                    pointB
                ],
                params: {
                    //Тип маршрутизации - пешеходная маршрутизация.
                    routingMode: 'pedestrian'
                }
            }, {
                // Автоматически устанавливать границы карты так, чтобы маршрут был виден целиком.
                boundsAutoApply: false
            });

        // Создаем кнопку.
        var changePointsButton = new ymaps.control.Button({
            data: {content: "Поменять местами точки А и В"},
            options: {selectOnClick: true}
        });

        // Объявляем обработчики для кнопки.
        changePointsButton.events.add('select', function () {
            multiRoute.model.setReferencePoints([pointB, pointA]);
        });

        changePointsButton.events.add('deselect', function () {
            multiRoute.model.setReferencePoints([pointA, pointB]);
        });

        // Создаем карту с добавленной на нее кнопкой.
        var routeMap = new ymaps.Map('route_map', {
            center: [55.779504, 37.630955],
            zoom: 17,
            controls: [changePointsButton]
        }, {
            buttonMaxWidth: 300
        });

        // Добавляем мультимаршрут на карту.
        routeMap.geoObjects.add(multiRoute);
        routeMap.behaviors.disable('scrollZoom');
    }

    ymaps.ready(init);
</script>

</body>
</html>
