//= template/header.html

<section class="advant">
  <div class="container">
    <div class="advant_block">
      <div class="advant_item">
        <div class="advant_circle">
          <img src="img/fire.png" alt="">
        </div>
        <div class="advant_item_head">Качество</div>
        <div class="advant_item_descr">
          <p>никаких аналогов и заменителей,</p>
          <p>100% оригинальная продукция,</p>
          <p>премиальный «Китай»</p>
        </div>
      </div>
      <div class="advant_item">
        <div class="advant_circle">
          <img src="img/check_mark.png" alt="">
        </div>
        <div class="advant_item_head">Гарантия</div>
        <div class="advant_item_descr">
          <p>неэлектронные гаджеты - 2 недели,</p>
          <p>на электронику - 12 месяцев,</p>
          <p>крутые условия возврата</p>
        </div>
      </div>
      <div class="advant_item">
        <div class="advant_circle">
          <img src="img/parachute.png" alt="">
        </div>
        <div class="advant_item_head">Доставка</div>
        <div class="advant_item_descr">
          <p>о Москве и области за 1-4 дня,</p>
          <p>по всей России за 2-15 дней,</p>
          <p>экспресс-доставка за 3 часа</p>
        </div>
      </div>
      <div class="advant_item">
        <div class="advant_circle">
          <img src="img/dollar.png" alt="">
        </div>
        <div class="advant_item_head">Оплата</div>
        <div class="advant_item_descr">
          <p>наличными в Москве и Петербурге,</p>
          <p>пластиковыми картами,</p>
          <p>банковским переводом</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="brands">
  <div class="container">
    <h2>Наши бренды</h2>
    <div class="brands_block">
      <div class="brands_item">
        <img src="img/mi-logo.png" alt="">
      </div>
      <div class="brands_item">
        <img src="img/meizu-logo.png" alt="">
      </div>
      <div class="brands_item">
        <img src="img/qcy-logo.png" alt="">
      </div>
      <div class="brands_item">
        <img src="img/bluedio-logo.png" alt="">
      </div>
      <div class="brands_item">
        <img src="img/dacom-logo.png" alt="">
      </div>
      <div class="brands_item">
        <img src="img/wsken-logo.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="shop_hits_section">
  <div class="container">
    <h2>Хиты продаж</h2>
    <div class="shop_hits_block left_row">
      <div class="shop_hits_left">
        <a href="#" class="shop_hits_item">
          <div class="img_block">
            <img src="img/videoreg.png" alt="">
          </div>
          <div class="descr_block">
            <h3>
              <p>Видеорегистратор Xiaomi YI</p>
              <p>Smart Dash Camera</p>
            </h3>
            <div class="price">2 820 <span>&#8381;</span></div>
          </div>
        </a>
        <a href="#" class="shop_hits_item">
          <div class="img_block">
            <img src="img/speaker.png" alt="">
          </div>
          <div class="descr_block">
            <h3>
              <p>Колонка Xiaomi</p>
              <p>Mi Bluetooth Speaker II</p>
            </h3>
            <div class="price">2 080 <span>&#8381;</span></div>
          </div>
        </a>
      </div>
      <div class="shop_hits_right">
        <a href="#" class="shop_hits_item">
          <div class="img_block">
            <img src="img/meizu-hd-50.png" alt="">
          </div>
          <div class="descr_block">
            <h3>Наушники MEIZU HD50</h3>
            <div class="price">3 050 <span>&#8381;</span></div>
          </div>
        </a>
      </div>
    </div>

    <div class="shop_hits_block center_row">
      <div class="shop_hits">
        <a href="#" class="shop_hits_item">
          <div class="img_block">
            <img src="img/cable.png" alt="">
          </div>
          <div class="descr_block">
            <h3>
              <p>WSKEN X-cable с адаптерами </p>
              <p>iPhone Lightning, microUSB</p>
            </h3>
            <div class="price">1 190 <span>&#8381;</span></div>
          </div>
        </a>
      </div>
      <div class="shop_hits">
        <a href="#" class="shop_hits_item">
          <div class="img_block">
            <img src="img/powerbank.png" alt="">
          </div>
          <div class="descr_block">
            <h3>
              <p>Внешний аккумулятор </p>
              <p>Xiaomi Mi Power Bank 2 10000 mAh</p>
            </h3>
            <div class="price">950 <span>&#8381;</span></div>
          </div>
        </a>
      </div>
    </div>

    <div class="shop_hits_block left_row right_row">
      <div class="shop_hits_right">
        <a href="#" class="shop_hits_item">
          <div class="img_block">
            <img src="img/Urbanifetyle.png" alt="">
          </div>
          <div class="descr_block">
            <h3>Рюкзак Xiaomi Urban Life Style</h3>
            <div class="price">2 090 <span>&#8381;</span></div>
          </div>
        </a>
      </div>
      <div class="shop_hits_left">
        <a href="#" class="shop_hits_item">
          <div class="img_block">
            <img src="img/armor.png" alt="">
          </div>
          <div class="descr_block">
            <h3>
              <p>Беспроводные наушники</p>
              <p>DACOM Armor (G006)</p>
            </h3>
            <div class="price">1 490 <span>&#8381;</span></div>
          </div>
        </a>
        <a href="#" class="shop_hits_item">
          <div class="img_block">
            <img src="img/termometer.png" alt="">
          </div>
          <div class="descr_block">
            <h3>Термометр Xiaomi Mi iHealth</h3>
            <div class="price">1 350 <span>&#8381;</span></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <h3>Mad-gadget — просто, надёжно и удобно</h3>
    <div class="about_block">
      <div class="block_col">
        <div class="block_col_item">
          <b>Принципы</b>
          индивидуальный подход,
          сервис превыше всего,
          открытость во всём.
        </div>
        <div class="block_col_item">
          <b>решения</b>
          помогать с выбором,
          давать качество,
          доставлять удобно,
          тестировать лично.
        </div>
      </div>
      <div class="text_block">
        <div class="text_block_wrap">
          <div class="left_block">
            <p>Мы всегда на связи. Звоните, пишите, мы ответим быстро.
              По телефону в будни c 10<sup>00</sup> до 20<sup>00</sup>, в выходные с 11<sup>00</sup> до 16<sup>00</sup>.
              <b>Для решения вопросов пользуйтесь формой обратной связи.</b>
              В нерабочее время оформите заказ на сайте с помощью Корзины. С вами свяжется наш менеджер.</p>
          </div>
          <div class="right_block">
            <p><a href="tel:+78002221219">+7 800 222-12-19</a> Региональный</p>
            <p><a href="tel:+74955325684">+7 495 532-56-84</a> Московский</p>
            <p><a href="https://api.whatsapp.com/send?phone=79261346667">+7 926 134-66-67 WhatsApp</a></p>
          </div>
          <div class="left_block">
            <p><b>Вы можете нас найти на площадке Яндекс Маркета.</b>
              Качество наших услуг подтверждено высоким рейтингом Яндекс Маркета. У нас более 300 отзывов.</p>
          </div>
          <div class="right_block">
            <a href="#" class="btn">Рейтинг Яндекс Маркета</a>
          </div>
          <div class="left_block">
            <p>Mad-gadget открыт для сотрудничества и партнёрства. Присылайте свои предложения на электронную почту.</p>
          </div>
          <div class="right_block">
            <p><a href="mailto:mad-gadget@yandex.ru">mad-gadget@yandex.ru</a> (Закупки)</p>
            <p><a href="mailto:sazonov.i.a@gmail.com">sazonov.i.a@gmail.com</a> (Реклама)</p>
          </div>
          <div class="left_block">
            <p>По всем техническим вопросам пишите на почту Мирону.</p>
          </div>
          <div class="right_block">
            <a href="mailto:miron.mad.gad@gmail.com">miron.mad.gad@gmail.com</a>
          </div>
          <div class="left_block">
            <p>Наша миссия — дать полезные технологии каждому.</p>
          </div>
        </div>
      </div>
    </div>
    <h2>Пункт самовывоза у нас в офисе</h2>
    <div class="before_map_block">
      <div class="before_map_text">
        <p>Наш уютный офис расположен в 5 минутах хотьбы от метро Проспект мира. До Олимпийского
          200 метров, напротив — Московская соборная мечеть. Самовывоз из нашего офиса бесплатен.</p>
      </div>
      <div class="before_map_link">
        <a href="#route" class="popup">Как добраться до нашего офиса</a>
      </div>
    </div>
    <div class="map_container">
      <div id="map"></div>
    </div>
  </div>
</section>

<section class="connect">
  <div class="container">
    <h2>Обратная связь</h2>
    <div class="form_wrap">
      <p>Остались вопросы? Напишите нам.</p>
      <form>
        <div class="form_row">
          <div class="input_wrap">
            <div class="input">
              <input type="text" id="name" name="name" placeholder="Иван Сазонов">
            </div>
          </div>
          <label for="name">Пожалуйста, представьтесь</label>
        </div>
        <div class="form_row">
          <div class="input_wrap">
            <div class="input">
              <input type="email" id="email" name="email" placeholder="sazonov.i.a@gmail.com">
            </div>
          </div>
          <label for="email">Ответ пришлём на указанную электронную почту</label>
        </div>
        <div class="form_row">
          <div class="input_wrap">
            <div class="textarea">
              <textarea name="answer" id="answer" placeholder="Когда повится Ми Бэнд 3?"></textarea>
            </div>
          </div>
          <label for="answer">Задайте чёткий и лаконичный вопрос</label>
        </div>
        <div class="form_btn_wrap">
          <input type="submit" value="Отправить">
        </div>
      </form>
    </div>
  </div>
</section>

//= template/footer.html

<div id="route" class="route popup_window mfp-hide">
  <h3>Как пройти до нашего офиса</h3>
  <h4>От метро Проспект мира кольцевой линии быстрее всего</h4>
  <div class="map_container">
    <div id="route_map"></div>
  </div>
  <p>Выйти из метро, повернуть направо, дойти до Протопоповского переулка, спуститься в переход,
    пройти на другую сторону Проспекта мира. Дойти до церкви Филиппа Митрополита.</p>
  <div class="photo_block">
    <div class="photo_item">
      <img src="img/church.jpg" alt="">
      <p>Напротив здания „European medical center“ повернуть налево, на улицу Щепкина</p>
    </div>
    <div class="photo_item">
      <p>Пройти слева от церкви,
        в сторону Олимпийского.</p>
      <img src="img/medicalcenter.jpg" alt="">
    </div>
    <div class="photo_item">
      <img src="img/sovkom.jpg" alt="">
      <p>Дойти до вывески «Галерея Совком», подняться по лестнице. На КПП сказать, идёте в Мэд Гаджет, назвать фамилию,
        показать паспорт. 5 этаж, офис 504.</p>
    </div>
    <div class="photo_item">
      <p>По улице Щепкина дойти до здания
        с вывеской «Совкомбанк».</p>
      <img src="img/sovkom-gal.jpg" alt="">
    </div>
  </div>
  <div class="form_btn_wrap js_close_popup">Закрыть</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

<script type="text/javascript">
    ymaps.ready(init);

    function init() {
        var myMap = new ymaps.Map("map", {
            center: [55.778863, 37.629315],
            zoom: 17
        });

        var myPlacemark = new ymaps.Placemark([55.778863, 37.629315], {
            hintContent: 'Mad-gadget'
        });

        myMap.geoObjects.add(myPlacemark);
        myMap.behaviors.disable('scrollZoom');
    }
</script>

<script>
    function init() {
        // Задаём точки мультимаршрута.
        var pointA = [55.779598, 37.633535],
            pointB = [55.778863, 37.629315],
            /**
             * Создаем мультимаршрут.
             * @see https://api.yandex.ru/maps/doc/jsapi/2.1/ref/reference/multiRouter.MultiRoute.xml
             */
            multiRoute = new ymaps.multiRouter.MultiRoute({
                referencePoints: [
                    pointA,
                    pointB
                ],
                params: {
                    //Тип маршрутизации - пешеходная маршрутизация.
                    routingMode: 'pedestrian'
                }
            }, {
                // Автоматически устанавливать границы карты так, чтобы маршрут был виден целиком.
                boundsAutoApply: false
            });

        // Создаем кнопку.
        var changePointsButton = new ymaps.control.Button({
            data: {content: "Поменять местами точки А и В"},
            options: {selectOnClick: true}
        });

        // Объявляем обработчики для кнопки.
        changePointsButton.events.add('select', function () {
            multiRoute.model.setReferencePoints([pointB, pointA]);
        });

        changePointsButton.events.add('deselect', function () {
            multiRoute.model.setReferencePoints([pointA, pointB]);
        });

        // Создаем карту с добавленной на нее кнопкой.
        var routeMap = new ymaps.Map('route_map', {
            center: [55.779504, 37.630955],
            zoom: 17,
            controls: [changePointsButton]
        }, {
            buttonMaxWidth: 300
        });

        // Добавляем мультимаршрут на карту.
        routeMap.geoObjects.add(multiRoute);
        routeMap.behaviors.disable('scrollZoom');
    }

    ymaps.ready(init);
</script>

</body>
</html>
