//= template/header.html

<section class="pay_section">
  <div class="container">
    <h1>Оплата</h1>
    <div class="pay_block">
      <div class="pay_img">
        <div class="img_wrap">
          <img src="img/pay-1.png" alt="">
        </div>
      </div>
      <div class="pay_descr">
        <h2>Наличными</h2>
        <p>В офисе, пунктах выдачи или курьеру при доставке по Москве, МО и Петербургу.</p>
      </div>
    </div>
    <div class="pay_block">
      <div class="pay_img">
        <div class="img_wrap">
          <img src="img/pay-2.png" alt="">
        </div>
      </div>
      <div class="pay_descr">
        <h2>Банковскими картами</h2>
        <p>К оплате принимаются карты «Виза», «Мастеркард» и «Мир». Оплачивайте заказы:</p>
        <ul>
          <li>В нашем офисе;</li>
          <li>Курьеру при доставке по Москве и Петербургу;</li>
          <li>На сайте онлайн (прямо сейчас), или после согласования стоимости доставки</li>
          <li>менеджер пришлёт вам ссылку на оплату.</li>
        </ul>
      </div>
      <div class="pay_link">
        <a href="#sber" class="popup">Условия безналичной оплаты Сбербанка</a>
      </div>
    </div>
    <div class="pay_block">
      <div class="pay_img">
        <div class="img_wrap">
          <img src="img/pay-3.png" alt="">
        </div>
      </div>
      <div class="pay_descr">
        <h2>Банковским переводом</h2>
        <p>Для юридических лиц мы выставляем счет, высылаем его на электронную почту.</p>
        <a href="#requsits" class="popup" style="color:#089cd9">Вы оплачиваете его по нашим банковским реквизитам.</a>
      </div>
      <div class="pay_link">
        <a href="#">Скачать реквизиты</a>
      </div>
    </div>
  </div>
</section>

//= template/footer.html
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>

<div id="sber" class="route popup_window mfp-hide">
  <img src="img/sber.png" alt="">
  <p>Для оплаты (ввода реквизитов вашей карты) вы будете перенаправлены на платежный шлюз ПАО СБЕРБАНК. Соединение с
    платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL.
    В
    случае если ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или
    MasterCard
    SecureCode для проведения платежа также может потребоваться ввод специального пароля. </p>
  <p>Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации
    обеспечивается ПАО СБЕРБАНК. Введенная информация не будет предо-ставлена третьим лицам за исключением случаев,
    предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии
    с
    требованиями платежных систем МИР, Visa Int. и MasterCard Europe Sprl. </p>
  <div class="form_btn_wrap js_close_popup">Закрыть</div>
</div>

<div id="requsits" class="route popup_window mfp-hide">
  <h3>Наши банковские реквизиты</h3>
  <ul>
    <li>ИП Волков Иван Викторович</li>
    <li><span>ИНН</span>503213530001</li>
    <li><span>ОГРН</span>315503200010172</li>
    <li><span>Факт. адрес:</span>192090 Москва, ул.Щепкина, д.28, офис 504</li>
    <li><span>Эл. почта</span>mad-gadget@yandex.ru</li>
    <li><span>Телефоны:</span>88002221219; 84955325684.</li>
    <li><span>Банк</span>ПАО  «Сбербанк России»</li>
    <li><span>Расчетный счет</span>40802810740000006928</li>
    <li><span>Корр. счет</span>30101810400000000225</li>
  </ul>
  <div class="form_btn_wrap js_close_popup">Закрыть</div>
</div>

</body>
</html>
