//= template/header.html

<section class="terms">
  <div class="container">
    <h1>Пользовательское соглашение</h1>
    <div class="terms_block">
      <p>Согласие на обработку персональных данных</p>
      <p>Предоставляя свои персональные данные, путем регистрирации и/или оформления заказа на сайте
        www.mad-gadget.com (далее сайт) и/или по телефонам, адресам электронной почты, указанным на сайте
        и/или каким либо еще образом взаимодействуя с сайтом,  покупатель даёт согласие на обработку, хранение
        и использование своих персональных данных на основании ФЗ № 152-ФЗ «О персональных данных»
        от 27.07.2006 г. в следующих целях:</p>
      <ul>
        <li>Регистрации пользователя на сайте</li>
        <li>Осуществления клиентской поддержки</li>
        <li>Выполнения продавцом обязательств перед покупателем (обработка заказа, доставка заказа, осуществление
          гарантии и
          т.д.)
        </li>
        <li>Осуществления клиентской поддержки</li>
        <li>Проведения аудита и прочих внутренних исследований с целью повышения качества предоставляемых услуг.</li>
      </ul>
      <p>Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность
        покупателя, такая как:</p>
      <ul>
        <li>Фамилия, Имя, Отчество</li>
        <li>Дата рождения</li>
        <li>Контактный телефон</li>
        <li>Адрес электронной почты</li>
        <li>Почтовый адрес</li>
      </ul>
      <p>Персональные данные покупателей хранятся исключительно на электронных носителях и обрабатываются
        с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка
        персональных данных необходима в связи с исполнением требований законодательства.</p>
      <p>Продавец обязуется не передавать полученные персональные данные третьим лицам, за исключением следующих
        случаев:</p>
      <ul>
        <li>
          По запросам уполномоченных органов государственной власти РФ только по основаниям и в порядке, установленными
          законодательством РФ
        </li>
        <li>
          Стратегическим партнерам, которые работают с Продавцом для предоставления продуктов и услуг, или тем из них,
          которые помогают Продавцу реализовывать продукты и услуги потребителям.
        </li>
      </ul>
      <p>Мы предоставляем третьим лицам минимальный объем персональных данных, необходимый только для оказания требуемой
        услуги или проведения необходимой транзакции.
        Продавец оставляет за собой право вносить изменения в одностороннем порядке в настоящие правила, при условии,
        что изменения не противоречат действующему законодательству РФ. Изменения условий настоящих правил вступают
        в силу после их публикации на Сайте.</p>
    </div>
  </div>
</section>

//= template/footer.html
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>
